var isOnlyBack = function (data) {
  return (!data.storeGoodsList);
};

var isShowChangeAddress = function (data) {
  return data.abnormalDeliveryGoodsList;
};

var isShowKeepPay = function (data) {
  return data.storeGoodsList;
};

module.exports = {
  isOnlyBack: isOnlyBack,
  isShowChangeAddress: isShowChangeAddress,
  isShowKeepPay: isShowKeepPay,
};
